%h3{:style => "text-align:center;"}
   Tweeter Search Result
%hr

- if !@tweets.empty? 
   - @tweets.each do |i|
      %p= i.created_at.to_s + " ---> " + i.text
- else
   - if @err.empty?
      %p
         No match found!!
   - else
      %p= @err
