%h1{:style => "text-align:center;"}
   Tweeter
%form{:action => "/fetching_tweets", :method => "get"}
   Enter the screen_name of the user: 
   %input{:type => "text", :name => "screen_name"}     
   %input{:type => "submit", :value => "Fetch tweets"}
