%h2{:style => "text-align:center;"}
   Tweeter Search
Search with:
%form{:action => "/search/searching", :method => "get"}
   %input{:type => "radio", :name => "typ", :value => "text"}
      Text
      %br
   %input{:type => "radio", :name => "typ", :value => "created_at"}
      Date in yyyy-mm-dd format
      %br
   Enter the keyword: 
   %input{:type => "text", :name => "key"}
   %input{:type => "submit", :value => "Search"}
%hr  
Latest 20 tweets are:
- if @tweets_all.length>20
   - (0..20).each do |i|
      %p= @tweets_all[i].created_at.to_s + " ---> " + @tweets_all[i].text
